.filters {
    display: flex;
    gap: 40px;
    margin: 40px 0;
  }
  
  .filters div{
    display: flex;
    gap: 16px;
  }

  .filters h3{
font-size: 20px;
font-weight: 600;
line-height: 26px;
text-align: left;
color: rgba(40, 40, 40, 1);

  }
  
.filters ::placeholder{
font-size: 16px;
font-weight: 500;
line-height: 20px;
text-align: left;
color: rgba(139, 139, 139, 1);
padding: 8px 16px;
 }
  
 .filters input{
    border-radius: 6px;
    border: 1px solid rgba(221, 221, 221, 1);
 }
 .filters select {
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 6px;
    padding: 8px 16px;
font-size: 16px;
font-weight: 500;
line-height: 20px;
text-align: left;


  }
  
.filters input[type="checkbox"] {
    width: 36px;
    border-radius: 6px;
    border: 1px solid rgba(221, 221, 221, 1);
  }

  @media(max-width:1025px){
    .filters{
        gap:20px;
    }
    .filters div{
        gap: 8px;
    }

    .filters h3{
        font-size: 18px;
    }

    .filters ::placeholder{
        font-size: 14px;
        padding: 5px 10px;
         }
     .filters select {
            padding: 5px 10px;
        font-size: 14px;}
        .filters input[type="checkbox"] {
            width: 30px;
            
          }

          @media (max-width:769px) {
            .filters{
                display: grid;
            }
          }
  }
  