.container{
    width: 100%;
    height: 600px;
    background-image: url("../../assets/banner.png");
   
}

.container h1{
        color: rgba(255, 255, 255, 1);
        font-size: 96px;
        font-weight: 700;
        padding: 80px 40px;            
}

.but{
    background: rgba(13, 80, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600;
    width: 220px;
    height: 60px;
    margin-left: 40px;
    border: var(--radiussmall);
    border-radius: 6px;
}

.but:hover{
    background: rgba(40, 40, 40, 1);
    ;
}

@media (max-width: 1025px ) {
 .container h1{
    font-size: 80px;
 }
  

}

@media (max-width: 769px) {
    .container h1{
        font-size: 60px;
     }

}

@media (max-width: 426px){
    .container h1{
        font-size: 50px;
     }
}


